body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #1c1c1c;
  background-color: #fafafa;
}

h1,
h2,
h3 {
  font-family: Georgia, serif;
  font-weight: normal;
  color: #1c1c1c;
}

section {
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: 0.25s ease;
}

section:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

img.profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

nav {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 17px;
  transition: 0.2s;
  padding: 8px 12px;
  border-radius: 8px;
}

nav ul li a:hover {
  background-color: #fffef8;
  color: #928c70;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  color: #777;
  font-size: 14px;
}
.container-activities {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  gap: 30px;
}

.side-menu {
  width: 260px;
  position: sticky;
  top: 100px;
  height: fit-content;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.side-menu h3 {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
}

.side-menu a {
  display: block;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #1c1c1c;
  transition: 0.2s;
}

.side-menu a:hover {
  background: #fffef8;
  color: #928c70;
}

.content-area {
  flex: 1;
}
.contact-links a {
  text-decoration: none;
  color: #1c1c1c;
  transition: 0.2s;
}

.contact-links a:hover {
  color: #928c70;
}
